#main_Section {
  width: 100%;
  height: 100dvh;
  position: relative;
  overflow: hidden;
}

.startBanner {
  position: absolute;
  width: 103%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: transparent;
  overflow: hidden;
  z-index: 1000;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  perspective: 600px;
}
.startBanner .banner_piece {
  background: #000;
  width: 100%;
  height: 100%;
  transform: translateY(0%);
  will-change: transform;
}

.banner_title {
  font-size: min(20.3125vw, 390px);
  color: #fff;
}

.banner_txtBox {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  width: -moz-fit-content;
  width: fit-content;
}
.banner_txtBox > * {
  line-height: 1;
  cursor: default;
  color: #fff;
}
.banner_txtBox .banner_title_txt1 {
  width: min(88.5416666667vw, 1700px);
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: url("../../img/dynamicMax/MainSec/main_text_bg2.png");
  background-position: center center;
  background-size: min(88.5416666667vw, 1700px);
  background-repeat: no-repeat;
  line-height: 1;
  position: relative;
  z-index: 2;
}
.banner_txtBox .unit_box {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  transform: translate(-3.5%, -25%);
}
.banner_txtBox .unit_box .scale_txt {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  transform: scale(1);
  opacity: 0;
}
.banner_txtBox .banner_title_txt2 {
  font-size: min(13.0208333333vw, 250px);
  text-align: right;
  color: transparent;
  background-image: linear-gradient(90deg, #00CBE5, #49BDB6, #9029EE, #FF6B00, #FF01E1, #FF3F28);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 0.1em;
  opacity: 0;
  line-height: 1;
  transform: scale(1.2);
}

.sub_txtBox {
  width: 100%;
  max-width: min(86.4583333333vw, 1660px);
  position: absolute;
  z-index: 1001;
  top: 83%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 15px;
}
.sub_txtBox .sub_txt {
  font-size: clamp(20px, 3rem, 40px);
  color: #fdfdfd;
  font-weight: 700;
}

.product {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%) scale(1.2);
  z-index: 10;
  width: -moz-fit-content;
  width: fit-content;
  opacity: 0;
}
.product img {
  width: max(230px, min(45.1612903226vw, 448px));
}

.scroll_down {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  opacity: 0;
}
.scroll_down > p {
  font-size: clamp(14px, 1.4rem, 16px);
  color: #a5a5a5;
  font-weight: 300;
  letter-spacing: 2px;
}
.scroll_down .line {
  position: relative;
  width: 1px;
  height: clamp(50px, 7rem, 120px);
  margin: 5px auto 0;
  overflow: hidden;
  background: #333;
}
.scroll_down .line::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, #fff, #fff, transparent);
  animation: downLine 2s linear infinite;
}

@keyframes downLine {
  0% {
    transform-origin: top;
    transform: scaleY(0);
  }
  50% {
    transform-origin: top;
    transform: scaleY(1);
  }
  51% {
    transform-origin: bottom;
    transform: scaleY(1);
  }
  100% {
    transform-origin: bottom;
    transform: scaleY(0);
  }
}
.bannerStart .startBanner {
  animation: startBaaner 0.2s 1.5s forwards;
  will-change: visibility;
}

.bannerStart .startBanner .banner_piece {
  animation: piece_move 0.2s calc(var(--i-delay) * 0.1s) forwards;
  will-change: transform;
}

.bannerStart .banner_txtBox .banner_title_txt1 {
  animation: banner_title_text1 0.5s forwards ease;
  will-change: color;
}

.bannerStart .banner_txtBox .banner_title_txt2 {
  animation: banner_title_txt2 0.3s 2.2s forwards ease-out;
  will-change: transform;
}

.bannerStart .banner_txtBox .unit_box .scale_txt {
  animation: banner_title_txt2_scale 0.8s 2.3s forwards;
  will-change: transform;
}

.bannerStart .sub_txtBox {
  animation: zIndex 1s 1.1s forwards;
}

.bannerStart .product {
  animation: product 0.3s 1.8s forwards;
  will-change: transform;
}

.bannerStart .scroll_down {
  animation: scroll_down_opacity 1.5s 2.8s forwards;
  will-change: opacity;
}

@keyframes zIndex {
  to {
    z-index: 9;
  }
}
@keyframes startBaaner {
  to {
    visibility: hidden;
    z-index: -1;
  }
}
@keyframes piece_move {
  to {
    transform: translateY(100%);
  }
}
@keyframes banner_title_text1 {
  to {
    color: transparent;
  }
}
@keyframes banner_title_txt2 {
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes banner_title_txt2_scale {
  0% {
    transform: scale(1.1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@keyframes product {
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes scroll_down_opacity {
  to {
    opacity: 1;
  }
}
@media (min-width: 769px) {
  .bannerStart .banner_txtBox {
    animation: zIndex 0.2s 1.6s forwards;
  }
}
@media (max-width: 1200px) {
  .sub_txtBox {
    max-width: 100%;
    top: unset;
    transform: translateX(-50%);
    bottom: 5%;
  }
}
@media (max-width: 768px) {
  #main_Section {
    background: url("../../img/dynamicMax/MainSec/main_sec_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }
  .banner_txtBox {
    top: 50%;
    animation: mobtxtBox 0.5s 1.6s forwards;
  }
  .banner_txtBox .unit_box {
    transform: translate(12.5%, -250%);
    margin: 0 auto 0 0;
  }
  .sub_txtBox {
    display: none;
  }
  .bannerStart .product img {
    position: relative;
    animation: imgmove 1s infinite alternate;
    will-change: transform;
  }
  @keyframes imgmove {
    from {
      transform: translateY(-2%);
    }
    to {
      transform: translateY(0);
    }
  }
  .scroll_down > p {
    font-size: 12px;
  }
  .scroll_down .line {
    position: relative;
    width: 1px;
    height: 30px;
    margin: 5px auto 0;
    overflow: hidden;
    background: #333;
  }
  .scroll_down .line::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, #fff, #fff, transparent);
    animation: downLine 2s linear infinite;
  }
}
@keyframes mobtxtBox {
  to {
    top: 88%;
  }
}/*# sourceMappingURL=MainSec.module.css.map */