#Section01 {
   position: relative;
   // background: linear-gradient(#201E1F, #011722 50%);
   // background: #201E1F;
   // background: url('../../img/Sec1/sec1_bg1.jpg') no-repeat center top / cover;
   padding: 30rem 0 20rem;
   overflow: hidden;
}

.canvas_wrapper {
   position: relative; z-index: 2;
   width: 100%; overflow: hidden;
   height: min(calc(1047 / 1920 * 100vw), 1047px);

   .Broken_bg {
      position: absolute; top: 0; left: 0; z-index: 1;
      background: url('../../img/Sec1/sec1_broken_bg.png') no-repeat center top / cover;
      width: 100%; height: min(calc(900 / 1920 * 100vw), 900px);
   }

   .canvas { // 3d 이미지
      position: relative; z-index: 2;
      margin: 0 auto; display: block; 
      // width: 100%;
      // height: min(calc(1047 / 1920 * 100vw), 1047px);
      // background: #201E1F;
   }
}


// 후방 배경 텍스트
.title_bg {
   position: absolute; z-index: 1;
   top: 70rem; left: 50%; transform: translate(-50%, -50%);
   font-size: min(calc(300 / 1920 * 100vw), 300px);
   color: #282828; line-height: 1; opacity: 0.3;
}


// 타이틀박스
.titleBox {
   position: relative; z-index: 2;
   width: fit-content; margin: 0 auto 13.5rem;
   text-align: center;

   > h3 {
      font-size: 5rem; font-weight: 700;
      line-height: 1.6; color: #fff;
      margin-bottom: 2.5rem;

      > span {font-size: inherit; color: var(--main-color); font-size: 1.2em;}
   }

   > p {
      font-size: max(16px, 2rem); font-weight: 600;
      line-height: 1.6; color: #fff;
   }
}

// 제품이미지
.productBox {
   position: relative; width: fit-content; margin: 0 auto 32rem;
   z-index: 2;

   > img {width: min(calc(250 / 769 * 100vw), 250px);}

   > img:not(.item1) {
      position: absolute; z-index: 1;
      width: min(calc(240 / 769 * 100vw), 240px);
      bottom: 10px;
   }
   > .item1 {position: relative; z-index: 2;}
   > .item2 {left: -70%;}
   > .item3 {left: 80%;}
}