// 스크롤 애니메이션
.scAni {
   // opacity: 0;
   transition: 0.5s 0.3s;

   h3 {
      :global(.char) {
         opacity: 0;
         display: inline-block;
         transform: scale(2);
      }
   }

   .tagSecd {
      span {display: inline-block; opacity: 0; transition: 0.5s;}
      span:nth-child(1) {transform: translateY(-10%);}
      span:nth-child(2) {transform: scale(1); transition: 1s;}
      span:nth-child(3) {transform: translateY(-10%);}
   }
}

.scAni.animate[data-scroll="in"] {
   // opacity: 1;
   transform: translateY(0);

   h3 {
      :global(.char) {
         opacity: 1;
         transition: 0.5s calc(var(--char-index) * 0.1s);
         transform: scale(1);
      }
   }

   .tagSecd {
      span {opacity: 1;}
      span:nth-child(1) {transform: translateY(0%); transition-delay: 1s;}
      span:nth-child(2) {transform: scale(1); transition-delay: 1.5s;}
      span:nth-child(3) {transform: translateY(0%); transition-delay: 1.3s;}
   }
}




#Section01 {
   position: relative;
   // background: linear-gradient(#201E1F, #011722 50%);
   // background: #201E1F;
   // background: url('../../img/Sec1/sec1_bg1.jpg') no-repeat center top / cover;
   padding: 30rem 0 20rem;
   overflow: hidden;
}


// 후방 배경 텍스트
.title_bg {
   position: absolute; z-index: 1;
   top: 70rem; left: 50%; transform: translate(-50%, -50%);
   font-size: min(calc(300 / 1920 * 100vw), 300px);
   color: #282828; line-height: 1; opacity: 0.3;
}


// 타이틀박스
.titleBox {
   position: relative; z-index: 2;
   width: fit-content; margin: 0 auto 13.5rem;
   text-align: center;

   > h3 {
      font-size: 5rem; font-weight: 700;
      line-height: 1.6; color: #fff;

      span {font-size: inherit; font-weight: inherit;}

      > .colorSpan {font-size: inherit; color: var(--main-color); font-size: 1.2em;}
   }
}

.canvas_wrapper {
   --canvas-H: min(calc(1047 / 1920 * 100vw), 1047px);

   position: relative; z-index: 2;
   width: 100%; overflow: hidden;
   height: var(--canvas-H);

   .Broken_bg {
      position: absolute; top: 0; left: 0; z-index: 1;
      background: url('../../img/Sec1/sec1_broken_bg.png') no-repeat center top / cover;
      width: 100%; height: var(--canvas-H);
   }

   .canvas { // 3d 이미지
      position: relative; z-index: 2;
      margin: 0 auto; display: block; 
      // width: 100%;
      // height: min(calc(1047 / 1920 * 100vw), 1047px);
      // background: #201E1F;
   }

   .titleBox {
      position: absolute; bottom: 8rem; left: 50%; width: 100%;
      transform: translateX(-50%); z-index: 3;

      > h3 {
         font-size: clamp(20px, 4rem, 42px);

         .colorSpan {font-weight: 700; font-size: 1.2em;}
      }
   }
}



// 반응형 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media (max-width: 768px) {
   .canvas_wrapper {
      --canvas-H: max(500px, min(calc(800 / 769 * 100vw), 800px));

      height: var(--canvas-H);

      .mob_touch_clear {
         position: absolute; z-index: 10;
         top: 0; left: 0; width: 100%; height: 100%;
      }

      .Broken_bg {
         height: var(--canvas-H);
      }

      .titleBox {padding: 0 15px;}
   }
}