#Section01 {
  position: relative;
  background: #201E1F;
  padding: 30rem 0 20rem;
  overflow: hidden;
}

.title_bg {
  position: absolute;
  z-index: 1;
  top: 70rem;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: min(15.625vw, 300px);
  color: #282828;
  line-height: 1;
  opacity: 0.3;
}

.bg_img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: min(81.71875vw, 1569px);
  background: url("../../img/Sec1/sec1_bg.jpg") no-repeat right center/cover;
}

.titleBox {
  position: relative;
  z-index: 2;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 13.5rem;
  text-align: center;
}
.titleBox > h3 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.6;
  color: #fff;
  margin-bottom: 2.5rem;
}
.titleBox > h3 > span {
  font-size: inherit;
  color: var(--main-color);
  font-size: 1.2em;
}
.titleBox > p {
  font-size: max(16px, 2rem);
  font-weight: 600;
  line-height: 1.6;
  color: #fff;
}

.productBox {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 32rem;
  z-index: 2;
}
.productBox > img {
  width: min(32.5097529259vw, 250px);
}
.productBox > img:not(.item1) {
  position: absolute;
  z-index: 1;
  width: min(31.2093628088vw, 240px);
  bottom: 10px;
}
.productBox > .item1 {
  position: relative;
  z-index: 2;
}
.productBox > .item2 {
  left: -70%;
}
.productBox > .item3 {
  left: 80%;
}

.slideContainer {
  position: relative;
  z-index: 2;
  margin-bottom: 25.6rem;
  transform: translateX(260px);
}
.slideContainer :global(.swiper-slide) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}
.slideContainer :global(.swiper-slide) .textBox h4 {
  font-size: max(20px, 2.5rem);
  color: #fff;
  margin-bottom: max(10px, 1.5rem);
  font-weight: 700;
}
.slideContainer :global(.swiper-slide) .textBox p {
  font-size: max(14px, 1.8rem);
  color: #fff;
  font-weight: 500;
  letter-spacing: -1px;
}

.Specs {
  position: relative;
  z-index: 2;
}
.Specs h3 {
  color: #fff;
  font-size: max(25px, 3.5rem);
  font-weight: 700;
  margin-bottom: 2rem;
}
.Specs .itemBox {
  display: flex;
  gap: 15px;
}
.Specs .itemBox article {
  border-radius: 20px;
  background: #2B2B2B;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Specs .itemBox .textBox {
  color: #fff;
}
.Specs .itemBox .textBox h5 {
  font-size: max(16px, 2rem);
  font-weight: 500;
  margin-bottom: 10px;
}
.Specs .itemBox .textBox p {
  font-size: max(25px, 4rem);
  font-weight: 700;
  line-height: 1.2;
}
.Specs .itemBox .size {
  width: 50%;
  padding: 25px;
}
.Specs .itemBox .size img {
  width: 14rem;
  margin-bottom: 10rem;
}
.Specs .itemBox .size .textBox {
  text-align: right;
  position: absolute;
  bottom: 25px;
  right: 25px;
}
.Specs .itemBox .specs_unit {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(28.5rem, auto);
  gap: 15px;
}
.Specs .itemBox .specs_unit > article {
  padding: 15px;
}
.Specs .itemBox .specs_unit > article img {
  position: absolute;
  top: 15px;
  left: 15px;
  width: max(25px, 5rem);
}
.Specs .itemBox .specs_unit > article .textBox {
  text-align: center;
}

@media (max-width: 1430px) {
  .Specs .itemBox .textBox p {
    font-size: max(20px, 3rem);
  }
}
@media (max-width: 769px) {
  .Specs .itemBox {
    flex-direction: column;
  }
  .Specs .itemBox .size, .Specs .itemBox .specs_unit {
    width: 100%;
  }
  .Specs .itemBox .specs_unit {
    gap: 10px;
  }
  .Specs .itemBox .textBox {
    padding-top: 10px;
  }
  .Specs .itemBox .textBox h5 {
    margin-bottom: 5px;
  }
  .Specs .itemBox .textBox p {
    font-size: max(20px, 4rem);
  }
}/*# sourceMappingURL=Section01.module.css.map */