
@mixin flexColum {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#Section03 {
  position: relative;
  background: #101010;
  overflow: hidden;

  :global(.containerV1) {position: relative; z-index: 2; width: 100%; height: auto;}

  .pin_wrapper {padding: 19rem 0; position: relative; z-index: 2;}

  #bgVideo {
    position: absolute; z-index: 1;
    top: 0; left: 50%; transform: translateX(-50%);
    width: 100%; min-width: clamp(2000px, 140vw, 3000px);
  }
}

.titleBox p > span {color: var(--main-color3);}


.product {
  display: flex; justify-content: center;
  align-items: center; position: relative; z-index: 1;

  > img {position: relative; width: clamp(100px, 20rem, 320px);}

  .img3 { z-index: 1; transform: translateX(30%); }
  .img1 { z-index: 2; transform: translateY(10%); }
  .img2 { z-index: 1; transform: translate(-30%, 20%); }
}

.triggerBg {position: absolute; z-index: 2; top: 0; left: 0; width: 100%; height: 150dvh;}

// 스크롤 애니메이션
.scAni.titleBox {

   h2 {
      :global(.char) {
         opacity: 0;
         display: inline-block;
         transform: scale(1.2);
      }
   }

   p {transform: translateY(-10%); opacity: 0; transition: 0.5s;}
}

.scAni.titleBox.animate[data-scroll="in"] {

   h2 {
      :global(.char) {
         opacity: 1;
         transition: 0.5s calc(var(--char-index) * 0.1s);
         transform: scale(1);
      }
   }

   p {transform: translateY(0%); opacity: 1; transition-delay: 0.1s;}
}


.triggerBox {
  width: 100%; height: 100%;
  @include flexColum; 
  gap: 40rem; z-index: 3;

  > * {
    width: fit-content; text-align: center;

    p {font-size: clamp(18px, 2rem, 23px,); font-weight: 500; color: #fff; line-height: 1.5;}
  }

  .content01 {
    @include flexColum;
    gap: max(20px, 5rem);

    .iconBox {
      display: flex; gap: 2.5rem;
      align-items: center;

      img:nth-child(1) {width: clamp(60px, 12rem, 120px);}
      img:nth-child(2) {width: clamp(20px, 4rem, 40px);}
      img:nth-child(3) {width: clamp(60px, 12rem, 120px);}
    }
  }

  .content02 {
    @include flexColum;
    gap: 3rem;

    .iconBox {
      img {width: clamp(250px, 33.5rem, 335px);}
    }
  }

  .content_Slide {
    display: flex; gap: max(15px, 3rem);


    .item {
      @include flexColum;
      gap: 20px;

      .img {width: clamp(250px, 27.2rem, 280px);}

      .textBox {
        text-align: center; color: #fff;
        padding: 0 5px; width: 100%; max-width: clamp(200px, 27.2rem, 280px);

        h5 {
          font-size: max(18px, 2.5rem); font-weight: 600; line-height: 1.2; margin-bottom: 15px;
          text-transform: uppercase;
        }
        figcaption {font-size: clamp(14px, 1.8rem, 18px);}
      }

    }
  }
}




@media (min-width: 2000px) {
  .triggerBox {
    .content_Slide {
      .item {
        .img {width: clamp(250px, 37.2rem, 372px);}

        .textBox {max-width: clamp(200px, 37.2rem, 380px);}
      }
    }
  }
}

@media (min-width: 769px) { // pc에서만 적용
  .triggerBox {
    position: absolute;
    top: 50%; left: 50%; transform: translate(-50%, -50%);

    > * {position: absolute;}

    .content01 {
      top: 55%; left: 50%; z-index: 3;
      transform: translate(-50%, -50%);
    }

    .content02 {
      z-index: 2;
      top: 55%; left: 50%;
      transform: translate(-50%, -50%);
    }

    .content_Slide {
      top: 55%; left: 50%; z-index: 1;
      transform: translate3d(0, -50%, 0);
    }
  }
}

// 반응형
@media (max-width: 768px) {
  #Section03 {
    :global(.containerV1) {padding-bottom: 14rem;}
  }

  .triggerBg {height: 100%; padding: 0 15px;}

  .triggerBox {
    position: relative;
    gap: 150px;

    article {width: 100%;}
  }
}


@media (max-width: 680px) {
  .triggerBox {
    p {font-size: clamp(15px, 2rem, 23px,);}

    article {width: 100%;}
  }
}