#Section02 {
  position: relative;
  background: #000;
  overflow: hidden;
}

.pin_wrapper {
  background: url("../../img/dynamicMax/Sec2/sec2_bg.jpg") no-repeat right center/cover;
  width: 100%;
  position: relative;
  height: auto;
  padding: 19rem 0 20rem;
}
.pin_wrapper :global(.containerV1) {
  position: relative;
  z-index: 2;
}
.pin_wrapper .scrollout_bg {
  position: absolute;
  z-index: 1;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  filter: blur(10px);
}

.titleBox p > span {
  color: var(--main-color4);
}

.product {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 9rem;
}
.product img {
  width: 80rem;
  position: relative;
  z-index: 1;
}
.product .scroll_unit {
  position: absolute;
  top: 26%;
  left: 84.5%;
  transform: translate(-50%, -50%);
  width: 14rem;
  height: 7.4rem;
  background: #222322;
  z-index: 2;
  opacity: 1;
  transition: 0.3s;
}
.product .scroll_unit.active {
  opacity: 0;
}

.itemBox {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(min(230px, 22rem), auto);
}
.itemBox article {
  border-radius: 20px;
  background: #2B2B2B;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 2rem 3rem 2rem max(30px, 6rem);
  gap: 4.5rem;
}
.itemBox article img.icon {
  min-width: 7.4rem;
}
.itemBox article p {
  font-size: clamp(18px, 2rem, 23px);
  line-height: 1.5;
  color: #fff;
  flex: 1;
}
.itemBox article p span {
  font-size: inherit;
  color: var(--main-color4);
  font-weight: 600;
}
.itemBox article:nth-child(2) img.icon {
  width: 10rem;
}

@media (min-width: 769px) {
  .pin_wrapper .scAni.scrollout_bg {
    width: 100%;
  }
  .pin_wrapper .scAni.scrollout_bg.animate[data-scroll=in] {
    width: 0%;
    transition: 3s 0.2s ease-out;
  }
  .scAni.titleBox h2 :global(.char) {
    opacity: 0;
    display: inline-block;
    transform: scale(1.2);
    will-change: transform;
  }
  .scAni.titleBox p {
    transform: translateY(-10%);
    opacity: 0;
    transition: 0.5s;
  }
  .scAni.titleBox.animate[data-scroll=in] h2 :global(.char) {
    opacity: 1;
    transition: 0.5s calc(var(--char-index) * 0.1s);
    transform: scale(1);
  }
  .scAni.titleBox.animate[data-scroll=in] p {
    transform: translateY(0%);
    opacity: 1;
    transition-delay: 0.1s;
  }
}
@media (max-width: 1230px) {
  .itemBox article p {
    font-size: max(16px, 2rem);
    line-height: 1.5;
    color: #fff;
  }
}
@media (max-width: 768px) {
  #Section02 .pin_wrapper {
    padding: var(--head-margin) 15px 15px;
    height: 100%;
  }
  #Section02 .pin_wrapper :global(.containerV1) {
    height: 100%;
    padding: 0;
  }
  .titleBox {
    position: relative;
    z-index: 2;
  }
  .product img {
    width: max(600px, min(111.9791666667vw, 860px));
    position: relative;
    z-index: 1;
  }
  .product .scroll_unit {
    width: min(19.53125vw, 150px);
    height: min(10.4031209363vw, 80px);
  }
  .itemBox {
    position: absolute;
    z-index: 2;
    bottom: 10px;
    left: 0;
    grid-template-columns: repeat(1, 1fr);
  }
  .itemBox article img.icon {
    min-width: unset;
    width: 7.4rem;
  }
  .itemBox article p {
    flex: 1;
  }
  .pin_wrapper .scrollout_bg {
    width: 100%;
    transition: 0.2s 0.2s;
  }
  .titleBox h2 :global(.char) {
    opacity: 0;
    display: inline-block;
    transform: scale(1.2);
    will-change: transform;
  }
  .titleBox p {
    transform: translateY(-10%);
    opacity: 0;
    transition: 0.2s 0.2s;
  }
  .product {
    transform: translateX(-50%);
    transition: 0.2s 0.2s;
  }
  .product .scroll_unit {
    opacity: 1;
    transition: 0.2s 0.2s;
  }
  .itemBox article {
    opacity: 0;
    transform: translateY(15%);
    transition: 0.2s 0.2s;
  }
  .slideActive .pin_wrapper .scrollout_bg {
    width: 0%;
    transition: 3s 0.2s ease-out;
  }
  .slideActive .titleBox h2 :global(.char) {
    opacity: 1;
    transition: 0.5s calc(var(--char-index) * 0.1s);
    transform: scale(1);
  }
  .slideActive .titleBox p {
    transform: translateY(0%);
    opacity: 1;
    transition: 0.5s 0.3s;
  }
  .slideActive .product {
    transform: translateX(-22%);
    transition: 1s 0.2s;
  }
  .slideActive .product .scroll_unit {
    opacity: 0;
    transition: 0.5s 1s;
  }
  .slideActive .itemBox article {
    opacity: 1;
    transform: translateY(0);
    transition: 0.5s;
  }
  .slideActive .itemBox article:nth-child(1) {
    transition-delay: 1.2s;
  }
  .slideActive .itemBox article:nth-child(2) {
    transition-delay: 1.4s;
  }
}
@media (max-width: 768px) and (max-height: 700px) {
  .product {
    transform: translate(-80%, -22%);
  }
  .slideActive .product {
    transform: translate(-30%, -22%);
  }
}
@media (max-width: 580px) {
  .itemBox article p {
    font-size: max(14px, 2rem);
  }
}
@media (min-width: 521px) {
  .itemBox article p.content_mob {
    display: none;
  }
}
@media (max-width: 520px) {
  .product {
    transform: translateX(-80%);
  }
  .product .scroll_unit {
    width: 100px;
    height: 53px;
  }
  .slideActive .product {
    transform: translateX(-30%);
  }
  .itemBox article p.content_pc {
    display: none;
  }
}
@media (max-width: 480px) {
  .slideActive .product {
    transform: translateX(-40%);
  }
}
@media (max-width: 420px) {
  .slideActive .product {
    transform: translateX(-50%);
  }
}
@media (min-width: 381px) {
  .br {
    display: none;
  }
}/*# sourceMappingURL=Section02.module.css.map */