#Section02 {
  position: relative;
  background: linear-gradient(#201E1F, #011722 50%);
  padding: 19rem 0 20rem;
  overflow: hidden;
  background: url("../../img/Sec2/sec2_bg.jpg") no-repeat right center/cover;
}

.titleBox {
  margin-bottom: 10rem;

  p {
    font-size: max(25px, 3.5rem); font-weight: 700; color: #fff;

    span {font-size: inherit; font-weight: inherit; color: var(--main-color4);}
  }
  h2 {font-size: max(50px, 10rem); color: #fff; position: relative; left: -10px;}
}

.product {
   width: fit-content; margin: 0 auto 9rem;

   img {width: 80rem;}
}

.itemBox {
   display: grid; gap: 3rem;
   grid-template-columns: repeat(2, 1fr);
   grid-auto-rows: minmax(22rem, auto);

    article {
      border-radius: 20px; background: #2B2B2B; position: relative;
      display: flex; justify-content: start; align-items: center;
      padding: 2rem 15px 2rem max(30px, 6rem); gap: 4.5rem;

      img.icon {width: 7.4rem;}

      p {
        font-size: max(18px, 2rem); line-height: 1.5; color: #fff;

        span {font-size: inherit; color: var(--main-color4); font-weight: 500;}
      }
   }

   article:nth-child(2) {
    img.icon {width: 10rem;}
   }

   
}

@media (max-width: 1230px) {
  .itemBox {

    article {
        padding: 3rem max(30px, 6rem);

        p {
          font-size: max(18px, 2rem); line-height: 1.5; color: #fff;

          br {display: none;}
 
          span {font-size: inherit; color: var(--main-color4); font-weight: 500;}
        }
    }
  }
}

@media (max-width: 769px) {
  .itemBox {

    grid-template-columns: repeat(1, 1fr);
  }
}