#header {
   z-index: 1000;
   position: fixed;
   width: 100%; padding: 0 30px; top: 0; left: 0;
   height: 60px; background: #3333336c;


   #logo {
      width: clamp(150px, 18rem, 200px);

      img {width: 100%;}
   }

   .headerContainer {
      display: flex; align-items: center; justify-content: space-between;
      width: 100%; height: 100%; margin: 0;
      max-width: 100%;

      > nav > .outerMenu {
         display: flex; align-items: center;
         gap: 3rem;

         > li a {position: relative;}

         > li span {
            font-size: 2.5rem;
            color: #fff;
            transition: all 0.3s;
            position: relative; z-index: 2;
         }
         > li h5 * {font-family: inherit;}
      }

   }
}

@media (min-width: 992px) {
   :global(.char) {transition: 0.1s calc(var(--char-index) * 0.025s) !important;}

   #header .headerContainer nav > .outerMenu > li:nth-child(1):hover h5 * {color: #f81884;}
   #header .headerContainer nav > .outerMenu > li:nth-child(2):hover h5 * {color: var(--main-color);}
   #header .headerContainer nav > .outerMenu > li:nth-child(3):hover h5 * {color: #000;}
}



@media (max-width: 992px) {
   #header {
      padding: 10px 15px; height: 80px;


      .headerContainer {

         justify-content: center; flex-direction: column;
         gap: 15px;
      
         > nav {

            max-width: 768px;

            .outerMenu {
               justify-content: space-between;


               > li span {font-size: 16px;}
            }
         }
      }
   }
}

@media (max-width: 380px) {
   #header .headerContainer nav > .outerMenu > li span {font-size: 14px;}
}