@font-face {
    font-family: 'HemiHead';
    src: url('../font/hemi-head-bd.woff2') format('woff2'),
         url('../font/hemi-head-bd.woff') format('woff'),
         url('fonts/hemi-head-bd.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
.HemiHead {font-family: 'HemiHead' !important;}

#App {width: 100%; background: #fff;}

.containerV1 {
   width: 100%; max-width: 1400px; height: 100%;
   margin: 0 auto;
}


#canvas { // 3d 이미지
    margin: 0 auto; display: block; width: 100%; 
    height: min(calc(1047 / 1920 * 100vw), 1047px); display: block;
    // background: #201E1F;
}


@media (min-width: 2000px) {
    .containerV1 {max-width: 1600px;}
}

@media (max-width: 1430px) {
    .containerV1 {padding: 0 15px;}
}
