@font-face {
    font-family: 'HemiHead';
    src: url('../font/hemi-head-bd.woff2') format('woff2'),
         url('../font/hemi-head-bd.woff') format('woff'),
         url('fonts/hemi-head-bd.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
.HemiHead {font-family: 'HemiHead' !important;}

#App {width: 100%; background: #fff; overflow: hidden;}

.containerV1 {
   width: 100%; max-width: 1400px; height: 100%;
   margin: 0 auto;
}

// titleBox --------------------------------------------------------------------
.titleBox {
  margin-bottom: 10rem;

  p {
    font-size: max(18px, 2.5rem); font-weight: 700; color: #fff;

    span {font-size: inherit; font-weight: inherit;}
  }
  h2 {
    font-size: max(50px, 8rem); color: #fff; position: relative; left: -10px;

    span {font-size: inherit; color: inherit; font-weight: inherit; font-family: 'HemiHead' !important;}
  }
}


@media (min-width: 2000px) {
    .containerV1 {max-width: 1600px;}
}

@media (max-width: 1430px) {
    .containerV1 {padding: 0 15px;}
}

@media (max-width: 680px) {
    .titleBox h2 {font-size: 45px;}
}
